*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial;
}

.container{
    display: flex;
    justify-content:right;
    align-items:center;
}

.todo-grid,
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 15px;
    row-gap: 10px;
    align-items: center;

}



.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.input1,.due-date-input{
    font-size: 15px;
    padding: 5px;
}

.button1{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 0;
}